.header {
  position: relative;
  overflow: hidden;
  padding-top: 340px;
  padding-bottom: 365px;
}

@media screen and (max-width: 900px) {
  .header {
    padding-bottom: 220px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    padding-bottom: 150px;
  }
}

.header img.headerBackground {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateY(180deg);
}

.header .headerContent {
  position: relative;
  z-index: 4;
}

.header .headerContent .headerButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 12px;
}

.header .headerContent .headerButtons a {
  display: block;
  height: 42px;
  width: auto;
}

.header .headerContent .headerButtons a img {
  display: block;
  height: 100%;
  width: auto;
}

.header .headerCircles {
  height: 250px;
  width: 100%;
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  .header .headerCircles {
    height: 150px;
  }
}

@media screen and (max-width: 580px) {
  .header .headerCircles {
    height: 90px;
  }
}

.header .headerCircles svg.headerCircle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.header .headerCircles svg.headerCircle:nth-child(1) {
  z-index: 4;
}

.header .headerCircles svg.headerCircle:nth-child(2) {
  z-index: 3;
}

.header .headerCircles svg.headerCircle:nth-child(3) {
  z-index: 2;
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  left: 0;
  top: 0;
  z-index: 2;
}

.homeContentWrapper {
  background-color: var(--primary);
  position: relative;
  padding-bottom: 140px;
}

@media screen and (max-width: 720px) {
  .homeContentWrapper {
    padding-bottom: 25px;
  }
}

.homeContentWrapper::before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: var(--primary);
  position: absolute;
  left: 0;
  top: -2px;
  z-index: 6;
  opacity: 1;
}

.homeContentWrapper .homeContentInfoContainer {
  max-width: 1180px;
  width: 90%;
  margin: 0 auto;
}

.homeContentWrapper .homeContentInfoContainer .homeContentInfoRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 140px;
  margin-bottom: 90px;
}

@media screen and (max-width: 900px) {
  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow {
    gap: 50px;
    grid-template-columns: 1fr 2fr;
  }

  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow.homeContentInfoRowInvert {
    gap: 50px;
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 720px) {
  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow {
    display: block;
    padding-left: 230px;
    position: relative;
  }

  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow.homeContentInfoRowInvert {
    padding-left: 0;
    padding-right: 230px;
  }
}

@media screen and (max-width: 580px) {
  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow {
    padding-left: 0;
    margin-bottom: 45px;
  }

  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow.homeContentInfoRowInvert {
    padding-right: 0;
  }
}

.homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn h2 {
  padding-top: 70px;
}

@media screen and (max-width: 900px) {
  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn h2 {
    padding-top: 15px;
  }
}

.homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn p {
  max-width: 458px;
  margin: 25px 0;
}

.homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn ul {
  list-style: none;
  display: block;
  width: 100%;
  padding: 25px 0;
  margin: 0;
  max-width: 395px;
}

.homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn ul li:last-child {
  margin-bottom: 0;
}

.homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn ul li .icon {
  padding: 0 12px;
}

.homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn ul li .label {
  font-size: 1rem;
  line-height: 140%;
  font-weight: 400;
  color: var(--headings);
  padding-left: 15px;
}

.homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn.homeContentInfoImageColumn {
  border-radius: 0px 0px 60px 60px;
  background: linear-gradient(180deg, var(--primary) 0%, var(--dark_1) 100%);
}

.homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn.homeContentInfoImageColumn img {
  height: 100%;
  width: auto;
  display: block;
  margin: auto;
  max-width: 80%;
}

@media screen and (max-width: 900px) {
  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn.homeContentInfoImageColumn {
    border-radius: 0;
    background: none;
    position: relative;
  }

  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn.homeContentInfoImageColumn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, transparent 0%, var(--primary) 60%);
  }

  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn.homeContentInfoImageColumn img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn.homeContentInfoImageColumn {
    position: absolute;
    left: -150px;
    transform: rotate(35deg);
    width: 250px;
    top: 20px;
    z-index: 7;
  }

  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow.homeContentInfoRowInvert .homeContentInfoColumn.homeContentInfoImageColumn {
    transform: rotate(-35deg);
    left: auto;
    right: -150px;
  }

  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn.homeContentInfoImageColumn::after {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .homeContentWrapper .homeContentInfoContainer .homeContentInfoRow .homeContentInfoColumn.homeContentInfoImageColumn {
    display: none;
  }
}

.homeContentWrapper .homeContentInfoBridge {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  z-index: 5;
}

.sellerCardsWrapper {
  width: 100%;
  height: auto;
  background: url(../../assets/footer.jpeg);
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 450px;
  position: relative;
}

@media screen and (max-width: 720px) {
  .sellerCardsWrapper {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 580px) {
  .sellerCardsWrapper {
    padding-top: 90px;
  }
}

.sellerCardsWrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  left: 0;
  top: 0;
  z-index: 2;
}

.sellerCardsWrapper .sellerCardsInnerContent {
  position: relative;
  z-index: 3;
}

.sellerCardsWrapper .sellerCardsInnerContent h1,
.sellerCardsWrapper .sellerCardsInnerContent p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sellerCardsWrapper .sellerCardsInnerContent h1 {
  width: 90%;
  max-width: 880px;
  margin-bottom: 20px;
}

.sellerCardsWrapper .sellerCardsInnerContent p {
  width: 90%;
  max-width: 580px;
  margin-bottom: 20px;
}

.sellerCardsWrapper .sellerCardsInnerContent .sellerCardsList {
  width: 90%;
  max-width: 1080px;
  margin: auto;
  padding: 0;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .sellerCardsWrapper .sellerCardsInnerContent .sellerCardsList {
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .sellerCardsWrapper .sellerCardsInnerContent .sellerCardsList {
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .sellerCardsWrapper .sellerCardsInnerContent .sellerCardsList {
    grid-template-columns: 1fr;
  }
}

.sellerCardsWrapper .sellerCardsInnerContent .sellerCardsList .sellerCardsListItem {
  background-color: var(--background);
  border-radius: 10px;
  padding: 17px;
}

.sellerCardsWrapper .sellerCardsInnerContent .sellerCardsList .sellerCardsListItem .sellerCardsListIcon {
  width: 22px;
  height: auto;
}

.sellerCardsWrapper .sellerCardsInnerContent .sellerCardsList .sellerCardsListItem .sellerCardsListIcon img {
  display: block;
  width: 100%;
  height: auto;
}

.sellerCardsWrapper .sellerCardsInnerContent .sellerCardsList .sellerCardsListItem .sellerCardsListContent h4 {
  margin: 17px 0 6px 0;
}

.sellerCardsWrapper .sellerCardsInnerContent .sellerCardsList .sellerCardsListItem .sellerCardsListContent span {
  font-size: 13px;
  color: var(--dark_1);
  line-height: 1.4;
  display: block;
}

