.requestPageContainer {
  background-color: var(--primary);
}

.headerWrapper {
  padding-top: 205px;
  padding-bottom: 100px;
}

@media screen and (max-width: 720px) {
  .headerWrapper {
    padding-bottom: 50px;
  }
}

.headerWrapper .headerContent p {
  max-width: 470px;
}

.requestPageContent {
  padding-bottom: 100px;
}

.requestPageContent .requestPageFormWrapper,
.requestPageContent .requestPageArticleList,
.requestPageContent .requestPageArticleInfo {
  max-width: 870px;
  margin: 0 auto;
  width: 100%;
}

.requestPageContent .requestPageArticleInfo {
  padding-top: 121px;
  text-align: center;
}

.requestPageContent .requestPageFormWrapper {
  display: block;
  background: var(--background);
  border-radius: 20px;
  padding: 118px 100px 95px 100px;
}

.requestPageContent .requestPageFormWrapper h2 {
  margin-bottom: 95px;
}

@media screen and (max-width: 720px) {
  .requestPageContent .requestPageFormWrapper {
    padding: 45px 25px;
  }

  .requestPageContent .requestPageFormWrapper h2 {
    margin-bottom: 45px;
  }
}

.requestPageContent .requestPageArticleList {
  appearance: none;
  padding: 121px 0 0 60px;
}

.requestPageContent .requestPageArticleList li {
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 105%;
  letter-spacing: -1.26px;
  color: var(--headings);
  padding-bottom: 5px;
}

@media screen and (max-width: 720px) {
  .requestPageContent .requestPageArticleList {
    appearance: none;
    padding: 45px 0 0 20px;
  }

  .requestPageContent .requestPageArticleList li {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
}

.requestPageContent .requestPageArticleList li:last-child {
  padding-bottom: 0;
}

.requestPageContent .requestPageArticleList li a {
  text-decoration: underline;
  cursor: pointer;
  color: var(--headings);
}

.blackBar {
  height: 140px;
  width: 100%;
  background: var(--dark_1);
}

