h1,
h2,
p {
  display: block;
  margin: 0;
  color: var(--headings);
}

h1.dark,
h2.dark,
p.dark {
  display: block;
  margin: 0;
  color: var(--dark_1);
}

h1 {
  font-size: 3.875rem;
  font-weight: 600;
  line-height: 105%;
  letter-spacing: -1.86px;
}

h2 {
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 105%;
  letter-spacing: -1.26px;
}

p {
  font-size: 1rem;
  line-height: 140%;
}

